@import "./reset.scss";
@import "./mixin.scss";
@import "./element-var.scss";
@import "./element-plus.scss";
@import "./variable.scss";

@include initGutter(5px);

.mauto {
	margin-left: auto;
	margin-right: auto;
}

.mlauto {
	margin-left: auto;
}

.mrauto {
	margin-right: auto;
}

.lh-normal {
	line-height: normal;
}

.lh-10 {
	line-height: 1;
}

.lh-13 {
	line-height: 1.3;
}

.lh-15 {
	line-height: 1.5;
}

.lh-16 {
	line-height: 1.6;
}

.lh-18 {
	line-height: 1.8;
}

.lh-20 {
	line-height: 2;
}

.vertical-top {
	vertical-align: top;
}

.vertical-middle {
	vertical-align: middle;
}

.vertical-bottom {
	vertical-align: bottom;
}

.vertical-baseline {
	vertical-align: baseline;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "\0020";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	opacity: 0;
	font-size: 0;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.hide {
	display: none;
}

.vf_hide {
	overflow: hidden;
}

.tl {
	text-align: left;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.select-tc {
	text-align: center;
	-moz-text-align-last: center;
	text-align-last: center;
}

.flighter {
	font-weight: lighter;
}

.fnormal {
	font-weight: normal;
}

.fb {
	font-weight: bold;
}

.text-indent {
	text-indent: 2em;
}

.text-underline {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.text-none {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.ul-none {
	margin-left: auto;
	margin-right: auto;

	li {
		list-style: none;
	}
}

.ul-decimal {
	margin-left: auto;
	margin-right: auto;
	padding-left: 2em;

	li {
		list-style: decimal;
	}
}

.text-white {
	color: #fff;
}

.text-black {
	color: #000;
}

.text-yellow {
	color: $color-yellow;
}

.text-orange {
	color: $color-orange;
}

.text-brown {
	color: $color-brown;
}

.text-red {
	color: $color-red;
}

.text-blue {
	color: $color-blue;
}

.text-indigo {
	color: $color-indigo;
}

.text-purple {
	color: $color-purple;
}

.text-pink {
	color: $color-pink;
}

.text-green {
	color: $color-green;
}

.text-turquoise {
	color: $color-turquoise;
}

.text-grey {
	color: $color-grey;
}

.text-deep-grey {
	color: $color-deep-grey;
}

.p-rel {
	position: relative;
}

.p-abs {
	position: absolute;
}

.p-fixed {
	position: fixed;
}

.abs-lt0 {
	position: absolute;
	top: 0;
	left: 0;
}

.abs-rt0 {
	position: absolute;
	top: 0;
	right: 0;
}

.isolate {
	isolation: isolate;
}

.isolation-auto {
	isolation: auto;
}

.dsp-block {
	display: block;
}

.dsp-inline {
	display: inline;
}

.dsp-inb {
	display: inline-block;
}

.flex {
	display: -webkit-box;
	display: flex;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-vc {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.flex-hc {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.flex-hspace {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.flex-1 {
	flex: 1 1 0%;
}

.flex-auto {
	flex: 1 1 auto;
}

.flex-initial {
	flex: 0 1 auto;
}

.flex-none {
	flex: none;
}

.text-nowrap {
	white-space: nowrap;
}

.nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ellipsis-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsis-3 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fill-100 {
	width: 100%;
	height: 100%;
}

.wrate-50 {
	width: 50%;
}

.img-fill {
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.ico-btn-reset {
	appearance: none;
	border: 0;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

.jy-btn {
	cursor: pointer;
	// z-index: 5;
	text-indent: -9999px;
	font-size: 0;
	line-height: 1;
	overflow: hidden;

	&:active {
		filter: brightness(1.1);
	}

	&.disable,
	&.active {
		&:active {
			filter: none;
		}
	}

	&.disable {
		filter: grayscale(1);
		pointer-events: none;
		opacity: 0.9;
	}
}

.jy-btn-txt {
	cursor: pointer;

	// z-index: 5;
	&:active {
		filter: brightness(1.1);
	}

	&.disable,
	&.active {
		&:active {
			filter: none;
		}
	}

	&.disable {
		filter: grayscale(1);
		pointer-events: none;
		opacity: 0.9;
	}
}

.jy-btn-brightness {
	&:hover {
		-webkit-filter: brightness(1.1);
		filter: brightness(1.1);
	}
}

.jy-btn-primary {
	display: inline-block;
	cursor: pointer;
	color: $color-btn-txt;
	background-color: $color-btn-bg;
	z-index: 5;
}

.opacity-0 {
	opacity: 0;
}

.input-border0 {
	border: 0;
}

/* 滤镜 */
// 毛玻璃滤镜效果
.filter-glass {
	backdrop-filter: saturate(50%) blur(4px);
}
