html,
body {
}
.sys-container {
  height: 100vh;
  overflow: hidden;
}
.main-container {
}
.header-container {
  height: 55px;
  .el-col {
    display: flex;
    align-items: center;
    &.lt {
      justify-content: flex-start;
    }
    &.rt {
      justify-content: flex-end;
    }
  }
}
.ico-txt {
  vertical-align: super;
}

.el-header {
  background: var(--jy-color-white);
}
.el-main {
  margin: var(--el-main-padding);
  background: var(--jy-color-white);
}
.el-aside {
  background: var(--jy-color-white);
}
.el-scrollbar__view,
.el-menu {
  height: 100%;
}
