.auth-container {
  height: 100vh;
  min-height: 600px;
  background: url('~@/assets/imgs/bg-auth.jpg') no-repeat top center/ cover fixed;
  .panel {
    position: relative;
    max-width: 100%;
    margin: 22vh 10% 10%;
    overflow: hidden;
  }
}
